<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'loans/list_style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <ul class="topnav">
        <li><a href="{% url 'home'%}">Home</a></li>
        <li><a href="{% url 'employeeList' %}"> Employee List</a></li>
        <li><a href="{% url 'loanapplication' %}">Create Loan Application</a></li>
        <li><a href="{% url 'applicationlist' %}">Application List</a></li>
        <li><a href="{% url 'loanaccount' %}">Create Loan Account</a></li>
        <li><a href="{% url 'accountlist' %}">Account List</a></li>
        <li><a href="{%url 'loancollection' %}">Loan Collection</a></li>
        <li><a href="{%url 'collectionlist' %}">Collection List</a></li>
        <li><a href="{% url 'performance' %}">Performance</a></li>
        <li class='right'><form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form></li>
    </ul>
    <h1>Collection List</h1>
    <table>
        <tr>
        <th>Account ID</th>
        <th>Collection ID</th>
        <th>Collection amount</th>
        <th>Created By</th>
        <th>Collection date</th>
        <th>Next collection date</th>
        </tr>
        {% for one in collectionList %}
        <tr>
            <td>{{ one.loan_account.loan_application_id }}</td>
            <td>{{ one.id }}</td>
            <td>{{ one.collected_amount  }}</td>
            <td>{{ one.collected_by }}</td>
            <td>{{ one.collection_date }}</td>
            <td>{{ one.next_collection_date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>