<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'loans/form_list_style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <ul class="topnav">
        <li><a href="{% url 'home'%}">Home</a></li>
        <li><a href="{% url 'employeeList' %}"> Employee List</a></li>
        <li><a href="{% url 'loanapplication' %}">Create Loan Application</a></li>
        <li><a href="{% url 'applicationlist' %}">Application List</a></li>
        <li><a href="{% url 'loanaccount' %}">Create Loan Account</a></li>
        <li><a href="{% url 'accountlist' %}">Account List</a></li>
        <li><a href="{%url 'loancollection' %}">Loan Collection</a></li>
        <li><a href="{%url 'collectionlist' %}">Collection List</a></li>
        <li><a href="{% url 'performance' %}">Performance</a></li>
        <li class='right'><form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form></li>
    </ul>
    <h1>Account List</h1>
    <div class="conatiner">
        <table>
            <tr>
            <th>Client Name</th>
            <th>Account ID</th>
            <th>Created at</th>
            <th>Created By</th>
            <th>Loan Amount</th>
            <th>Loan Back</th>
            </tr>
            {% for one in accList %}
            <tr>
                <td>{{ one.loan_application.client_name }}</td>
                <td>{{ one.loan_application.id  }}</td>
                <td>{{ one.created_by }}</td>
                <td>{{ one.created_at }}</td>
                <td>{{ one.approved_loan_amount }}</td>
                <td>{{ one.paid_loan_amount }}</td>
            </tr>
            {% endfor %}
        </table>
</div>
<div class="container1">
    <form action="{% url 'loancollection' %}" method="POST">
        {% csrf_token %}
        <label for="account_id">Account Id</label>
        <br>
        <input type="number" id="account_id" name="account_id" placeholder="Enter account id" required>
        <br>
        <br>
        <label for="loan_pay">Installment Amount</label>
        <br>
        <input type="number" id="loan_pay" name="loan_pay" placeholder="Enter installment amount" required>
        <br>
       <p> <b>Next installment date:</b> {{ nextInstallment }}</p>
        <br>
        <button name='button_create_account' type="submit">Create Acount</button>
    </form>
</div>
</body>
</html>