body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(124, 114, 114);
}

button{
    background-color: blue;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li.right {
    float: right;
    margin-right: 10px;
}

h1{
  text-align: center;
  color: rgba(12, 82, 233, 0.877);
}

table{
  border: 2px solid rgb(48, 25, 150);
  background-color: rgb(12, 222, 250);
  margin: 10px;
  border-collapse: collapse;
  width: 95%;
  text-align: center;
}

th,td {
    border: 2px solid rgb(34, 47, 165);
    padding: 5px;
  }

